.moreCardsBtn {
  border-radius: 20px;
  border: 1px solid black;
  background-color: white;
  color: black;
}

.container-movies {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 15px;
}

.container-movies-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.searchForm {
  margin-bottom: 15px;
}

.inputSearch {
  width: 500px;
  border-radius: 20px;
  height: 30px;
  padding: 0px 15px;
}

.orientation button {
  border-radius: 20px;
  border: 1px solid black;
  background-color: white;
  color: black;
}
