.content-wrapper {
background-color: white;

}

.container-movies {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.container-movies-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.filterDiv {
  min-height: 80px;
  /* background-color: lightgray; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border-bottom: 1px solid lightgray;
  flex-wrap: wrap;
}

.filterBtn {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border: 1px solid lightgray;
  min-width: 100px;
  margin: 10px;
}

.extraBtnsDiv {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
  background-color: lightblue;
}